single-node/config/cyb3rhq_indexer_ssl_certs/*.pem
single-node/config/cyb3rhq_indexer_ssl_certs/*.key
multi-node/config/cyb3rhq_indexer_ssl_certs/*.pem
multi-node/config/cyb3rhq_indexer_ssl_certs/*.key